<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:amazon="http://schemas.android.com/apk/lib/com.amazon.device.ads"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    id="phonegap-plugin-push"
    version="1.7.0">

  <name>PushPlugin</name>
	<description>
		This plugin allows your application to receive push notifications on Android, iOS and Windows devices.
    Android uses Google Cloud Messaging.
    iOS uses Apple APNS Notifications.
    Windows uses Microsoft WNS Notifications.
	</description>

	<license>MIT</license>

	<js-module src="www/push.js" name="PushNotification">
        <clobbers target="PushNotification" />
	</js-module>

	<engines>
        <engine name="cordova" version=">=3.6.3" />
        <engine name="cordova-android" version=">=4.0.0" />
    </engines>

    <preference name="SENDER_ID" />

  	<!-- windows -->
  	<platform name="windows">
    	<js-module src="src/windows/PushPluginProxy.js" name="PushPlugin">
    		<merges target="" />
    	</js-module>
    	<config-file target="config.xml" parent="/*">
    		<preference name="WindowsToastCapable" value="true" />
    	</config-file>
	</platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="PushNotification">
                <param name="ios-package" value="PushPlugin"/>
            </feature>
        </config-file>
        
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>remote-notification</string>
            </array>    
        </config-file>

        <config-file target="*Entitlements-Debug.plist" parent="aps-environment">
            <string>development</string>
        </config-file>

        <config-file target="*Entitlements-Release.plist" parent="aps-environment">
            <string>production</string>
        </config-file>

        <hook type="after_plugin_install" src="scripts/ios/app-delegate.js" />

        <header-file src="src/ios/PushPlugin.h" />
        <source-file src="src/ios/PushPlugin.m" />
    </platform>

</plugin>
